/* Reset CSS */

/* Remise à zéro des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* assure que la largeur/hauteur inclut la bordure et le remplissage */
}

/* Remise à zéro des styles de texte */
body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

/* Remise à zéro des styles de liste */
ul, ol {
    list-style: none;
}

/* Remise à zéro des styles de lien */
a {
    text-decoration: none;
    color: inherit;
}

/* Remise à zéro des styles de formulaire */
button, input, select, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

/* Remise à zéro des styles de média intégrés */
img, iframe, embed, object, video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**************************************/

                /* COLORS */

:root {
    --black-transparent: rgba(0, 0, 0, 0.1);
    --primary-color: #0b132b; /* Couleur principale */
    --secondary-color: #1c2541;
    --primary-text-color: #E0FBFC;
    --secondary-text-color: #C2DFE3; /* Autre couleur principale */
    --third-text-color: #3a506b; /* Autre couleur principale */
    }

/**************************************/


        /* GENERAL */
body{
    display: flex;
    justify-content: center;
    background-color: var(--primary-text-color);
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85vw;
    height: auto;
    max-width: 1440px;
}

#menu_container,
#content_container,
#contact_container{
    width: 100%;
    margin: auto;
}

#menu_container,
#contact_container{
    border-radius: 13px;
    background-color: var(--black-transparent);
}


/* SECTION */

section{
    padding: 13px;
    border-radius: 26px;
    background-color: var(--black-transparent);
}

    /* MENU PART */

#menu_container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px auto;
}

    /* CONTENT PART */

#content_container{
    display: flex;
    flex-direction: column;
}

        /* * UP PART * */

.up_part{
    display: flex;
    gap: 13px;
    width: 100%;
    height: 480px;
    margin-bottom: 13px;
}

.exp_pro{
    height: auto;
    width: calc(33% - 13px);
}

.projects{
    height: auto;
    width: calc(77% - 13px);
}

        /* * DOWN PART * */

.down_part{
    display: flex;
    gap: 13px;
    width: 100%;
    height: 150px;
    margin-bottom: 13px;
}

            /* * * PRES * * */

.pres{
    height: auto;
    width: calc(40% - 13px);
}

            /* * * SKILLS * * */

.skills{
    height: auto;
    width: calc(40% - 13px);

}

            /* * * CV * * */

.cv{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_dl{
    padding: 15px 30px;
    border-radius: 9px;
}

    /* CONTACT PART */

#contact_container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}




    /* MEDIA QUERIES */

      
