/* Reset CSS */

/* Remise à zéro des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* assure que la largeur/hauteur inclut la bordure et le remplissage */
}

/* Remise à zéro des styles de texte */
body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

/* Remise à zéro des styles de liste */
ul, ol {
    list-style: none;
}

/* Remise à zéro des styles de lien */
a {
    text-decoration: none;
    color: inherit;
}

/* Remise à zéro des styles de formulaire */
button, input, select, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

/* Remise à zéro des styles de média intégrés */
img, iframe, embed, object, video {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ------------------------------ */


                /* COLORS */

:root {
    --black-transparent: rgba(0, 0, 0, 0.1);
    --primary-color: #0b132b; /* Couleur principale */
    --secondary-color: #1c2541;
    --primary-text-color: #E0FBFC;
    --secondary-text-color: #C2DFE3; /* Autre couleur principale */
    --third-text-color: #3a506b; /* Autre couleur principale */
    }


/* ------------------------------ */


        /* GENERAL */
body{
    font-family: 'Montserrat', 'Arial', sans-serif;
    background-image: linear-gradient(290deg, rgba(71, 224, 17, 0.15) 0%,rgba(159, 153, 81, 0.15) 100%),linear-gradient(380deg, rgb(5, 10, 46),rgb(251, 85, 78));
    height: 100vh;
    width: 100vw;
}

#wrapper{
    height: 100%;
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* ------------------------------ */


            /* HEADER */
header{
    height: 7%;
    width: 100%;
    background-color: #3a506b;
}

header nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


/* ------------------------------ */


            /* MAIN */
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#left,
#right{
    background-color: #1c2541;
}

#left{
    background-color: #1c412a;
    width: 40%;
    height: 100%;
}

#right{
    background-color: #1c2541;
    width: 60%;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.project_preview{
    height: 85%;
    width: 100%;
}

.skils_carrousel{
    height: 15%;
    width: 100%;
}
.project_preview,
.skils_carrousel{
    background-color: antiquewhite;
}


/* ------------------------------ */


            /* FOOTER */
footer{
    height: 7%;
    width: 100%;
    background-color: #3a506b;
}
